<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-datetimepicker"
        version="1.0.0">

    <name>Cordova Plugin DateTimePicker</name>
    <description>Native date and time picker for Android.</description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/alex-pl/cordova-plugin-datetimepicker</repo>
    <issue>https://github.com/alex-pl/cordova-plugin-datetimepicker/issues</issue>

    <!-- android -->
    <platform name="android">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="DateTimePicker"/>
        </js-module>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DateTimePicker">
                <param name="android-package" value="com.alexanderploner.datetimepicker.DateTimePicker"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <source-file src="src/android/DateTimePicker.java" target-dir="src/com/alexanderploner/datetimepicker/"/>
        <source-file src="src/android/PickerOptions.java" target-dir="src/com/alexanderploner/datetimepicker/"/>
        <source-file src="src/android/picker/BasePickerFragment.java" target-dir="src/com/alexanderploner/datetimepicker/picker/"/>
        <source-file src="src/android/picker/DatePickerFragment.java" target-dir="src/com/alexanderploner/datetimepicker/picker/"/>
        <source-file src="src/android/picker/TimePickerFragment.java" target-dir="src/com/alexanderploner/datetimepicker/picker/"/>
    </platform>

</plugin>
